.outfit-letters {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

  /* Boton Info */

  .btn-info {
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px 30px; /* Espaciado interno */
    border: none; /* Sin borde */
    background-color: #1dbf58; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    position: relative; /* Posicionamiento relativo para manejar la sombra */
    box-shadow: 5px 7px 0px #066b2d; /* Sombra inicial */
    cursor: pointer; /* Cambia el cursor a pointer */
    transition: transform 0.1s ease, box-shadow 0.1s ease; /* Transición suave */
  }
  
  .btn-info:hover {
    background-color: #25d366; /* Cambia el color al pasar el ratón */
  }
  
  .btn-info:active {
    transform: translate(4px, 6px); /* Mueve el botón hacia abajo y a la derecha */
    box-shadow: 0 0 0 #1a9247; /* Mantén la sombra fija al presionar */
    background-color: #25d366; /* Cambia el color al presionar */
  }

  /* Boton contactenos */

  .btn-contact   {
    border-radius: 12px; /* Bordes redondeados */
    padding: 10px 30px; /* Espaciado interno */
    border: none; /* Sin borde */
    background-color: #1de165; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    position: relative; /* Posicionamiento relativo para manejar la sombra */
    box-shadow: 4px 6px 0px #1a9247; /* Sombra inicial */
    cursor: pointer; /* Cambia el cursor a pointer */
    transition: transform 0.1s ease, box-shadow 0.1s ease; /* Transición suave */
  }
  
  .btn-contact:hover {
    background-color: #25d366; /* Cambia el color al pasar el ratón */
  }
  
  .btn-contact:active {
    transform: translate(4px, 6px); /* Mueve el botón hacia abajo y a la derecha */
    box-shadow: 0 0 0 #1a9247; /* Mantén la sombra fija al presionar */
    background-color: #25d366; /* Cambia el color al presionar */
  }
  

/* Fondo para Cards */

.about-bg1 {
  background: linear-gradient(
    60deg,
    #001692 55%,
    #000457 35%
  );
}

.about-bg2 {
  background: linear-gradient(
    60deg,
    #000457 55%,
    #001692 35%
  );
}

  .about-bg {
    background: linear-gradient(
      60deg,
      #00920a 55%,
      #005706 35%
    );
  }
  .about-bg-2 {
    background: linear-gradient(
      60deg,
      #005706 55%,
      #00920a 35%
    );
  }

  .about-bg-3 {
    background: linear-gradient(
      60deg,
      #005706 80%,
      #00920a 10%
    );
  }

  .about-bg-4 {
    background: linear-gradient(
      60deg,
      #00920a 80%,
      #005706 10%
    );
  }